1. Find the data type of a if a=9

In [1]:
a = 9
type(a)

int

3. Find the data type of a if a='9.'

In [2]:
a = '9'
type(a)

str

4. Find the data type of a if a=(9)

In [3]:
a = (9)
type(a)

int

5. Find the data type of a if a=False

In [4]:
a = False
type(a)

bool

6. Find the data type of a if a=[1,2,3]

In [5]:
a = [1,2,3]
type(a)

list


7. Find the data type of a if a=(1,2,3)

In [6]:
a = (1,2,3)
type(a)

tuple

8. Find the data type of a if a={'key': 9}

In [7]:
a = {'key':9}
type(a)

dict

9. Find the data type of a if a=1 + 9j

In [8]:
a = 1+9j
type(a)

complex

10. Set a=1 and b=2. What data type is a/b?

In [9]:
a = 1
b = 2
print(a/b)
print(type(a/b))

0.5
<class 'float'>

11. Create a dictionary numbers = {'one':1, 'two':2, 'three':3}. Pull out the number '2' by calling the key 'two'

In [10]:
numbers = {'one':1,'two':2,'three':3}
numbers['two']

2

12. Create a tuple with the numbers 8, 9, and 10?

In [11]:
tup = (8,9,10)
print(tup)

(8, 9, 10)

13. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
d = {one:1, two:2, three:3} d[one]

The error is there are no single quotations for all the keys in the dictionary and also at the point of calling the key there should be single quotes i.e. d['one']

In [13]:
d = {'one':1,'two':2,'three':3}
d['one']

1

14. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
f = false not f

The error in this line of code is, in the keyword false,f should be capital.And second error is not False is True but not f is invalid syntax

In [16]:
f = not False
print(f)

True

15. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
lst = [1,3,5] lst[3]

The error in this line of code is at lst[3]. As we know indexing in lists starts from 0 by default. So in this case, the index no. for 1 is 0,for 3 it is 1, and for 5 it is 2.There is no existence of 3rd index number.If we want to access the third element in this particular list we shall use, lst[2]

In [ ]:
lst =